@{
    ViewBag.Title = "Отправить сообщение";
}

@using (Ajax.BeginForm("Send", "Home", null, new AjaxOptions { LoadingElementId = "sending", OnFailure = "onFail", OnSuccess = "onSuccess" }))
{
    <div>
        <div class="form-group">
            <label for="channel">Тип сообщения</label>
            <select class="form-control" id="channel" name="channel">
                <option value="Email" selected>E-mail</option>
                <option value="Sms">Sms</option>
                <option value="Push">Push</option>
            </select>
        </div>
        <div class="form-group">
            <label for="body">Тело сообщения</label>
            <textarea maxlength="4000" required class="form-control message-body" id="body" name="body" placeholder="Введите текст..."></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Отправить" />
    </div>
}

<div id="sending" style="display: none;">Сообщение отправляется в очередь...</div>
<div id="result"></div>

<script language="javascript">
    function onFail() {
        $('#result').html('Ошибка');
    }

    function onSuccess() {
        $('#sending').hide();
        $('#result').html('Сообщение успрешно добавлено в очередь');
        $('#body').val('');
    }
</script>
