body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.message-body {
    width: 100%;
    min-height: 200px;
}

table, th, td {
    border: 0;
    padding: 3px;
}

table.queue {
    padding-top: 20px;
    padding-bottom: 20px;
}

.inline {
    display: inline-block;
}

